{% extends 'base.html.twig' %}

{% block title %}Edit Rproduit{% endblock %}

{% block body %}
    <h1>Edit Rproduit</h1>

    {{ include('rproduit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rproduit_index') }}">back to list</a>

    {{ include('rproduit/_delete_form.html.twig') }}
{% endblock %}
