<form method="post" action="{{ path('app_rcategorie_delete', {'id': rcategorie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rcategorie.id) }}">
    <button class="btn">Delete</button>
</form>
