{% extends 'base.html.twig' %}

{% block title %}New Rcategorie{% endblock %}

{% block body %}
    <h1>Create new Rcategorie</h1>

    {{ include('rcategorie/_form.html.twig') }}

    <a href="{{ path('app_rcategorie_index') }}">back to list</a>
{% endblock %}
